<div class="container">
  <%= form_with(model: @article, url: articles_path, class: "form") do |form| %>
    <div class="mb-3">
      <%= form.label :title, class: "form-label" %>
      <%= form.text_field :title, class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= form.label :content, class: "form-label" %>
      <%= form.text_area :content, class: "form-control", rows: 6 %>
    </div>
    <div class="mb-3">
      <%= form.label :is_public, class: "form-check-label" do %>
        <%= form.check_box :is_public, class: "form-check-input" %>
        Public
      <% end %>
    </div>
    <div class="mb-3">
      <%= form.label :published_at, class: "form-label" %>
      <div class="input-group date" id="datepicker">
        <%= form.text_field :published_at, class: "form-control", id: "datepicker" %> 
        <span class="input-group-append">
          <span class="input-group-text bg-light d-block">
            <i class="fa fa-calendar"></i>
          </span>
        </span>
      </div>
    </div>
    <%= form.submit "Create Article", class: "btn btn-primary" %>
  <% end %>
  </div>
  <div>
    <%= link_to "Back to articles", articles_path %>
  </div>
  
  <script>
  console.log("datepicker js")
   $(function(){
    $('#datepicker').datepicker();
  });
  </script>