
<div class="container">
  <h1><%= @article.new_record? ? 'New Article' : 'Edit Article' %></h1>

  <div class="my-4">
    <%= link_to articles_path, style: "text-decoration: none;" do %>
      <i class="fas fa-arrow-left"></i>Back to Articles
    <% end %>
  </div>

  <div class="container">
    <%= simple_form_for(@article, url: (@article.new_record? ? articles_path : article_path(@article)), html: { class: "form" }) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <div class="mb-3">
        <%= f.input :title, label_html: { class: 'form-label' }, input_html: { class: 'form-control' } %>
      </div>
      <div class="mb-3">
        <%= f.input :content, as: :text, label_html: { class: 'form-label' }, input_html: { class: 'form-control', rows: 6 } %>
      </div>
      <div class="mb-3">
        <%= f.input :is_public, as: :boolean, label: 'Public', label_html: { class: 'form-check-label' }, input_html: { class: 'form-check-input' } %>
      </div>
      <div class="mb-3">
        <%= f.input :published_at, as: :string, label_html: { class: 'form-label' }, input_html: { class: 'datepicker', id: 'datepicker' } %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, @article.new_record? ? 'Create' : 'Update', class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>

<script>
console.log('hello')
$('.datepicker').datepicker({
  format: 'yyyy/mm/dd',
  startDate: '-3d'
});
</script>
