<div class="container" id="app">
  <div class="row align-items-center">
    <div class="col-sm-6">
      <h1> <%= @articles.total_count %> Articles </h1>
    </div>
    <div class="col-sm-6">
      <%= form_tag articles_path, method: :get, id: "search-form", 'v-on:submit.prevent': 'searchArticles' do %>
        <div class="input-group">
          <%= text_field_tag :query, params[:query] , id: "query", class: "form-control", placeholder: "Search articles" %>
          <div class="input-group-append">
            <%= button_tag(type: :submit, class: "btn btn-outline-secondary") do %>
              <i class="fas fa-search"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <br>
  <br>

  <div id="articles">
    <table class="table">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Views Count</th>
          <th scope="col">Author</th>
          <th scope="col">Publish Date</th>
          <th scope="col">Action</th>
        </tr>
      </thead>

      <tbody>
        <template v-if="!query">
        <% @articles.each_with_index do |article, index| %>
        <tr>
          <th scope="row"><%= (@articles.current_page - 1) * @articles.limit_value + index + 1 %></th>
          <td><%= article.title %></td>
          <td><%= article.readings %></td>
          <td><%= article.user.username %></td>
          <td><%= article.published_at %></td>
          <td>
            <div class="buttons">
              <a href="/articles/<%= article.id %>" style="text-decoration: none;" class="btn btn-link">
                <i class="fas fa-eye"></i> Show
              </a>
              <% if current_user && article.user && current_user.id == article.user.id  %> 
                <a href="/articles/<%= article.id %>/edit" style="text-decoration: none;" class="btn btn-link">
                  <i class="fas fa-edit"></i> Edit
                </a>
                <a href="/articles/<%= article.id %>" style="text-decoration: none;" class="btn btn-link" data-turbo-frame="_top" data-turbo-method="delete" data-turbo-confirm="Are you sure?">
                  <i class="fas fa-trash"></i> Delete
                </a>
              <% end %>
            </div>
          </td>
        </tr>
        <% end %>
        </template>
        <template v-else>
        <tr v-for="(article, index) in articles" :key="article.id">
          <th scope="row">{{ index + 1 }}</th>
          <td>{{ article.title }}</td>
          <td>{{ article.readings }}</td>
          <td>{{ article.user.username }}</td>
          <td>{{ article.published_at }}</td>
          <td>
            <div class="buttons" style="white-space: nowrap">
              <a :href="'/articles/' + article.id" style="text-decoration: none;" class="btn btn-link">
                <i class="fas fa-eye"></i> Show
              </a>
              <template v-if="currentUser.id=== article.user.id">
                <a :href="'/articles/' + article.id + '/edit'" style="text-decoration: none;" class="btn btn-link">
                  <i class="fas fa-edit"></i> Edit
                </a>
                <a :href="'/articles/' + article.id" style="text-decoration: none;" data-turbo-frame="_top" data-turbo-method="delete" data-turbo-confirm="Are you sure?" class="btn btn-link">
                  <i class="fas fa-trash"></i> Delete
                </a>
              </template>
            </div>
          </td>
        </tr>
        </template>
      </tbody>
    </table>
    <br>
    <%= paginate @articles %>
  </div>
</div>


